.auth-page {
  height: 100vh;
  background-color: #F5F5F5;
}

.auth-form {
  width: 400px;
  background: #fff;
  border-radius: 15px;
}
.auth-form input {
  border-radius: 50px;
  padding: 10px 15px;
}
.auth-form button {
  border-radius: 50px;
}
